/* Fig. 12.3: style.css */
/* CSS for dom.html. */
h1, h3       { text-align: center;
               font-family: tahoma, geneva, sans-serif; }
p            { margin-left: 5%;
               margin-right: 5%;
               font-family: arial, helvetica, sans-serif; }
ul           { margin-left: 10%; }
a            { text-decoration: none; }
a:hover      { text-decoration: underline; }
.nav         { width: 100%;
               border-top: 3px dashed blue;
               padding-top: 10px; }
.highlighted { background-color: yellow; }
input        { width: 150px; }
form > p     { margin: 0px; }
