/* CSS for draw.html. */
#canvas { width: 400px;
          border: 1px solid #999999;
          border-collapse: collapse }
td      { width: 4px; height: 4px; margin: 0px; padding: 0px; }
.blue   { background-color: blue; }
.red    { background-color: red; }
